<!DOCTYPE html>
<html lang="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    
    <title>Nitch Rosenrrot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo_titulo">
            <img src="/logo.jpg" alt="Logo" id="logo">
            <h1 id="Titulo">Titulo</h1>
            <a href="/login" >Login<i class="fas fa-user"></i></a>
        </div>

    </header>
    <nav>
        <h2>Arneses</h2>
        <ul>
            <li><a href="/pecho">Pecho</a></li>
            <li><a href="/cola_ligas">Cola & Ligas</a></li>
            <li><a href="/cuerpo_completo">Cuerpo Completo & Conjuntos</a></li>
            <li><a href="/gargantillas">Gargantillas</a></li>
            <li><a href="/hombre">Hombre</a></li>
        </ul>
    </nav>
   
    <main>

    </main>
    <footer>
        <section>
            <a href="#Titulo">Ir arriba</a>
            <a href="mailto:wojcikmilagros@gmail.com">Contacto aqui.</a>
        </section>
        <p>Nitch Rosenrrot ©</p>
    </footer>
    <script src="js/transicion.js"></script>
</body>
</html>