<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>

        </ul>
    </nav>
</header>
<h1 style="color: white">Iniciar Sesión</h1>
<form method="post" action="/login">
    <label for="username" style="color: white">Nombre de Usuario:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password" style="color: white">Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Iniciar Sesión</button>
</form>

</body>
</html>